

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="mr-auto">

              <h1 class="mb-0">{{ .Site.Params.firstName }}
                <span class="text-primary">{{ .Site.Params.lastName }}</span>
              </h1>
              <div class="subheading mb-5">{{ .Site.Params.address }} ·
                <a href="mailto:{{ substr .Site.Params.email 0 5}}-remove-{{ substr .Site.Params.email 5 }}">{{ substr .Site.Params.email 0 5}}<span style="display:none">-remove-</span>{{ substr .Site.Params.email 5 }}</a>
              </div>

            </div>

            {{ if .Site.Params.showQr }}
              {{ partial "contact-qr" . }}
            {{ end }}

        </div>
        <div>
          {{ .Content }}
          <h2>Anschreiben</h2>
          <ul class="list-inline list-social-icons mb-0">
            {{ range .Site.Data.certifications }}
                <li class="list-inline-item">
                  <a href="{{ .proof }}" data-toggle="tooltip" title="{{ .name }}" data-offset="0 10" rel="me">
                    <img src="{{ .badge }}" width=75 />
                  </a>
                </li>
            {{ end }}
          </ul>
          <h4>Sehr geehrte Frau Kaper, <br/><br/>
            durch Ihren Mitarbeiter Dominik Görke bin ich auf Ihr Unternehmen
            aufmerksam geworden. Durch Herrn Görke habe ich auch von dem
            guten Betriebsklima, den spannenden Aufgabenbereichen und den
            Weiterbildungsmöglichkeiten erfahren.
            Da ich schon länger daran interessiert bin, im IT-Bereich zu arbeiten
            und nun ein genaueres Bild davon habe, bewerbe ich mich hiermit
            auf die Ausbildungsstelle als Fachinformatiker für
            Anwendungsentwicklung.<br/><br/>
            Ich bin zuversichtlich, dass ich schon in der Ausbildung zu den
            Aufgaben im Team beitragen werde.
            Bei meinem Besuch der Berufsbildenden Schulen Haarentor, der
            Einjährigen Berufsfachschule mit dem Schwerpunkt Informatik,
            konnte ich bereits Erfahrungen in der Anwendungsentwicklung und
            den Grundlagen der Java Programmierung bis hin zur
            objektorientierten Programmierung sammeln.<br/><br/>
            Bei einem Projekt, bei dem wir ein Flüchtlingsheim mit neuen
            Computern ausgestattet haben, war ich Teil einer kleinen Gruppe des
            Jahrgangs, die eine Website für die Fortschritte des Projekts
            entwickelt hat. Während der Arbeit in diesem kleinen Team ist mir
            bewusst geworden, dass mir das Umsetzen von Ideen durch die
            Programmierung am meisten zusagt.<br/><br/>
            Zusätzlich konnte ich Stärken wie das Arbeiten im Team und der
            Kommunikation mit Kunden bei Betriebspraktika und meiner Zeit als
            Kommissionierer vertiefen.<br/><br/>
            Über ein persönliches Vorstellungsgespräch, bei dem ich Sie von
            meinen Stärken überzeugen kann, würde ich mich sehr freuen.<br/><br/><br/><br/>
            Mit freundlichen Grüßen<br/><br/>
            Colin Kammer
            </h4>
          <ul class="list-inline list-social-icons mb-0">
            {{ range .Site.Params.handles }}
                <li class="list-inline-item">
                  <a href="{{ .link }}" data-toggle="tooltip" title="{{ .name }}" data-offset="0,10" rel="me">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fab {{ if .icon}}fa-{{ .icon }}{{ else }}fa-{{ lower .name }}{{ end }} fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </section>
